@media screen and (min-width: 1001px) {
	form {
		display: flex;
		flex-direction: row;
	}

	form .left {
		width: 400px;
		flex-shrink: 0;
	}

	.output {
		min-width: 200px;
		flex-grow: 1;
	}

	input[type=submit] {
		float: right;
	}
}

@media screen and (max-width: 1000px) {

	form .left,
	.output {
		width: 100%
	}

	input[type=submit] {
		margin-bottom: 10px;
	}
}

a {
	text-decoration: none;
	color: #148bb9;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 0;
	font-family: 'Nunito', sans-serif;
	background-color: #121212;
  color: #d7d7d7;
}

section,
main {
	display: inline-block;
	vertical-align: top;
}

section {
	background-color: #1e1e1e;
	position: fixed;
	left: 0;
	top: 25px;
	height: calc(100vh - 25px);
	width: 220px;
	overflow-y: scroll;
}

#instructions {
	background: url(../media/bg.jpg) rgba(51, 8, 30, 0.8);
  background-size: cover;
	background-position: center bottom;
  background-blend-mode: multiply;
}

#nameList {
	list-style-type: none;
	padding: 0;
	margin: 10px 0 10px 10px;
}

main {
	width: calc(100% - 220px);
	float: right;
}

.section {
	padding: 70px 70px;
	margin: 0 auto;
}

#lineage {
	border-top: 1px solid #222;
	border-bottom: 1px solid #222;
}

form .left {
	margin-right: 40px;
}

.output {
	background-color: #1e1e1e;
	padding: 8px;
	border-radius: 4px;
	border: 1px solid #222;
	box-sizing: border-box;
}

h3, h2 {
	margin-top: 0;
}

input[type=text] {
	width: 100%;
	box-sizing: border-box;
	color: #d7d7d7;
}

form input[type=text] {
	margin-bottom: 10px;
	background-color: #242424;
	border: 0;
	border-radius: 2px;
	padding: 6px;
}

#search {
	position: fixed;
	top: 0;
	width: 220px;
	padding: 7px 0 7px 10px;
	background-color: #1e1e1e;
	border: 0;
	border-bottom: 1px solid #383838;
	outline: none;
	z-index: 100;
}

#search:focus {
	border-bottom-color: #148bb9;
}

input[type=submit] {
	margin-top: 10px;
	padding: 6px 14px;
	font-weight: bolder;
	background-color: #155e33;
	border-radius: 4px;
	border: 0;
	color: #d7d7d7;
	cursor: pointer;
	transition: 0.2s background-color;
}

input[type=submit]:hover {
	background-color: #114e2b;
}

input[type=submit]:active {
	outline: 1px solid #fff;
}

.gray {
	color: #b3b3b3;
}

td {
	padding-right: 20px;
	vertical-align: top;
}

th {
	text-align: left;
}

/*
  Scrollbar
*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 5px;
}
